body {
  background-image: url(img/forsidebaggrund.png);
  background-size: cover;
  background-position: center;
}

h1 {
  color: #ad0000;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0.5;
}

/* .port {
  padding: 15%;
  position: absolute;
  padding-top: 50px;
  padding-left: 40px;
  font-size: 75px;
}

.folio {
  padding: 25%;
  padding-left: -150px;
  position: absolute;
  padding-top: 185px;
  font-size: 75px;
} */

.portfolio {
  grid-column: 1/3;
  margin-top: 15%;
  margin-left: 10%;
}

ul {
  display: flex;
  justify-content: center;
  gap: 350px;
  list-style: none;
  padding: 5%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: black;
}

a {
  text-decoration: none;
}

p {
  font-size: 36px;
  max-width: 700px;
  /* margin: 20px auto; */
  text-align: center;
  font-size: 35px;
  line-height: 1.8;
  margin: 100px auto;
  color: #000000;
  padding-top: 0.9%;
  font-family: Arial, Helvetica, sans-serif;
}

.knap {
  position: relative;
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
  line-height: 1.8;
  margin: 1250px auto;
  padding-top: 0.9%;
  top: -1150px;
  left: 0px;
}
