body {
  background-image: url(img/forsidebaggrund.webp);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.portfolio {
  grid-column: 1/3;
  margin-top: 15%;
  margin-left: 10%;
}

ul {
  display: flex;
  justify-content: center;
  gap: 350px;
  padding: 2%;
  margin-top: 0;
  font-family: "Big Caslon", serif;
  font-size: 20px;
  color: black;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

p {
  font-size: 36px;
  max-width: 700px;
  text-align: center;
  font-size: 23px;
  line-height: 1.8;
  margin: 100px auto;
  color: #000000;
  padding-top: 0.9%;
  font-family: "Big Caslon", serif;
}

.knap {
  position: relative;
  text-align: center;
  margin: 1250px auto;
  padding-top: 0.9%;
  top: -1150px;
  left: 0px;
  margin-top: 1370px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#macmiller_container {
  position: absolute;
  width: 12%;
  aspect-ratio: 287/293;
  top: -50%; /* start position off-screen */
  left: 50%;
  transform: translateX(-50%);
  animation: fallDown 7s ease forwards;
}

#macmiller_sprite {
  width: 100%;
  height: 100%;
  background-image: url("img/macmillericon.webp");
  background-size: cover;
}

@keyframes fallDown {
  0% {
    top: -50%;
  }
  100% {
    top: 150%;
  }
}

.ctaknap {
  background-color: #ad0000;
  padding: 60px;
  border-radius: 20em;
  font-family: "Big Caslon", serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  max-width: 800px;
  text-align: center;
  margin-left: 40%;
  margin-top: 8.9%;
}

.ctacontainer {
  padding-bottom: 10%;
}

img {
  margin: 10px auto;
  display: block;
}

.portfolio {
  max-width: 100%;
  padding-right: 90%;
}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }

  /* call to action knap */
  .ctaknap {
    margin-left: 20%;
    margin-top: 10%;
    padding: 30px;
    font-size: 1rem;
  }

  img {
    margin: 5px auto;
  }

  .portfolio {
    grid-column: 1 / 2; /* kun en kolonne på mobil enheder */
    margin-left: 0;
  }

  .knap {
    margin: 0 auto;
    padding-top: 0;
    top: 0;
  }

  #macmiller_container {
    width: 50%;
    top: 0;
    transform: translateX(-50%);
    animation: fallDown 7s ease forwards;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }
}
