body {
  font-size: 16px;
  background-image: url(img/forsidebaggrund.png);
}

h1 {
  color: #ad0000;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0.5;
}

/* .port {
  padding: 15%;
  position: absolute;
  padding-top: 50px;
  padding-left: 40px;
  font-size: 75px;
}

.folio {
  padding: 25%;
  padding-left: -150px;
  position: absolute;
  padding-top: 185px;
  font-size: 75px;
} */

.portfolio {
  position: absolute;
  padding: 120px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 350px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: black;
}
p {
  font-size: 36px;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
  line-height: 1.8;
  margin: 1200px auto;
  color: #000000;
  padding-top: 0.9%;
  font-family: Arial, Helvetica, sans-serif;
}
