.tema-box {
  display: block; /* gør hele området klikbart */
  background-color: #ededed;
  font-family: "Big Caslon", serif;
  color: #ad0000;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 50px; /* de runde hjørner */
  border-color: #ad0000;
  text-decoration: none; /* fjerner standard link-underline */
  transition: transform 0.3s, box-shadow 0.3s; /* den bløde overgang for hover-effekter */
}

.tema-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skaber skygge ved hover */
}

.tema-box:hover ul {
  flex-direction: column; /* Ændrer rækkefølgen af elementerne */
  gap: 20px; /* Mindre mellemrum på mobil */
}

h2 {
  margin: 0; /* fjerner margin omkring overskrifter */
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 200;
}
body {
  font-size: 16px;
  background-image: url(img/portfolio.webp);
  background-size: cover;
  background-repeat: repeat;
}

ul {
  display: flex;
  justify-content: center;
  gap: 350px;
  list-style: none;
  padding: 2%;
  margin: 0;
  font-family: "Big Caslon", serif;
  font-size: 20px;
  color: black;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .tema-box {
    padding: 15px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
  h3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
  }
  h4 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
  }
  ul {
    flex-direction: column;
    gap: 20px;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    margin-left: 33%;
  }
}
