.tema-box {
  display: block; /* Gør hele området klikbart */
  background-color: #ededed; /* Lys baggrundsfarve for boksene */
  font-family: Arial, Helvetica, sans-serif;
  color: #ad0000; /* Tekstfarve */
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px; /* Runde hjørner */
  text-decoration: none; /* Fjern standard link-underline */
  transition: transform 0.3s, box-shadow 0.3s; /* Blød overgang for hover-effekter */
}

.tema-box:hover {
  ul {
    flex-direction: column; /* Ændrer navigation til vertikal liste */
    gap: 20px; /* Mindre mellemrum på mobil */
  } /* Lidt større ved hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skaber en skygge ved hover */
}

h2 {
  margin: 0; /* Fjern margin omkring overskrifter */
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 200;
}

/* Mobilvenlig version */
@media (max-width: 768px) {
  .tema-box {
    padding: 15px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}

h3 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}
h4 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 350px;
  padding: 2%;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: black;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin-left: 33%;
}
*/ main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
}
