.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

h1 {
  color: #ad0000;
  font-family: "Big Caslon", serif;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 80px;
  text-align: center;
}

h2 {
  color: #ad0000;
  font-family: "Big Caslon", serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

h3 {
  color: #000000;
  font-family: "Big Caslon", serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

h4 {
  color: #000000;
  font-family: "Big Caslon", serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.temabillede {
  padding-top: 40%;
  padding-bottom: 50%;
  padding-right: 100%;
  padding-left: 20%;
  max-width: 100%;
  transform: scale(1.02);
}

body {
  font-size: 16px;
  background-image: url(img/forsidebaggrund.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

ul {
  display: flex;
  justify-content: center;
  gap: 350px;
  padding: 2%;
  margin-top: 0;
  font-family: "Big Caslon", serif;
  font-size: larger;
  color: black;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

.grid_1 {
  margin-top: 0%;
  margin-left: 10%;
}

@media only screen and (max-width: 768px) {
  .grid_1 {
    grid-template-columns: 1fr; /* en kolonne i stedet for 2 */
    margin-left: 0; /* fjerner venstre margin */
  }

  .temabillede {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    transform: scale(1); /* fjerner skalaen på mobile enheder */
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  ul {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
  }

  a {
    font-size: 18px;
  }
}
