/* Standard styling for desktop */

/* Grid layout */
.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Mellemrum mellem kolonner */
}

/* Hovedoverskrifter */
h1 {
  color: #ad0000;
  font-family: "Big Caslon", serif;
  font-weight: bold;
  padding-top: 200px;
  margin-bottom: 20px;
  font-size: 80px;
  text-align: center;
}

h2 {
  color: #ad0000;
  font-family: "Big Caslon", serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

h3 {
  color: #000000;
  font-family: "Big Caslon", serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

h4 {
  color: #000000;
  font-family: "Big Caslon", serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/* Billeder */
.temabillede {
  padding-top: 65%;
  padding-bottom: 50%;
  padding-right: 100%;
  padding-left: 20%;
  max-width: 100%;
  size: 90%;
  transform: scale(1.02);
}

/* Baggrund for hele siden */
body {
  font-size: 16px;
  background-image: url(img/forsidebaggrund.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

/* Navigation */
ul {
  display: flex;
  justify-content: center;
  gap: 350px;
  padding: 2%;
  margin-top: 0;
  font-family: "Big Caslon", serif;
  font-size: larger;
  color: black;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
}

/* Grid Justering */
.grid_1 {
  margin-top: 0%;
  margin-left: 10%;
}

@media only screen and (max-width: 768px) {
  /* Skift grid layout til en enkelt kolonne */
  .grid_1 {
    grid-template-columns: 1fr; /* En kolonne på mobile enheder */
    margin-left: 0; /* Fjern venstre margin */
  }

  /* Juster størrelsen på billederne til mobilen */
  .temabillede {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    transform: scale(1); /* Fjerner skalaen på mobile enheder */
  }

  /* Juster fontstørrelser på små skærme */
  h1 {
    font-size: 50px; /* Mindre font på mobile enheder */
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  /* Juster margin og padding for ul og links */
  ul {
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
  }

  a {
    font-size: 18px;
  }
}
